@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #f3f4f6, #e5e7eb);
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, #1f2937, #111827);
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Webkit */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}